fastapi==0.136.1
uvicorn==0.47.0

SQLAlchemy==2.0.49
psycopg2-binary==2.9.12
alembic==1.18.4

python-dotenv==1.2.2
pydantic==2.13.4
pydantic-settings==2.14.0
email-validator==2.3.0

passlib[bcrypt]==1.7.4
bcrypt==5.0.0
python-jose==3.5.0
python-multipart==0.0.29

Jinja2==3.1.6

gunicorn==21.2.0
redis
celery
fastapi-mail
boto3
openpyxl
reportlab
pytest
httpx
loguru